Products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
xmlns:target="http://www.electronics.com/products"
targetNamespace="http://www.electronics.com/products">
	<element name="products">
		<complexType>
			<sequence>
				<element name="product" minOccurs="1" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="specification" minOccurs="1" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="value" type="float"/>
										<element name="exponent" type="short" minOccurs="0" maxOccurs="1"/>
										<element name="unit" type="string"/>
										<element name="tolerance" type="float" minOccurs="0" maxOccurs="1"/>
									</sequence>
								</complexType>
							</element>
							<element name="amount" type="unsignedInt"/>
							<element name="price" type="float"/>
							<element name="manufacturer" type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>	
</schema>
