ProductsV1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:products="http://www.electronics.com/products"
	targetNamespace="http://www.electronics.com/products"
	elementFormDefault="qualified">
	<element name="products">
		<complexType>
			<sequence>
				<element name="product" minOccurs="1" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="specification" minOccurs="1" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="value" type="float"/>
										<element name="exponent" type="short" minOccurs="0" maxOccurs="1"/>
										<element name="unit" type="string"/>
										<element name="tolerance" type="products:ToleranceType" minOccurs="0" maxOccurs="1"/>
									</sequence>
									<attribute name="type" type="string"/>
								</complexType>
							</element>
							<element name="amount" type="unsignedInt"/>
							<element name="price" type="products:PriceType"/>
							<element name="manufacturer" type="string"/>
						</sequence>
						<attribute name="id" type="ID"/>
						<attribute name="type" type="string"/>
						<attribute name="subtype" type="string"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	
	<complexType name="ToleranceType">
		<simpleContent>
			<extension base="float">
				<attribute name="unit" type="string" default="%"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="PriceType">
		<simpleContent>
			<extension base="float">
				<attribute name="unit" type="string" default="EUR"/>
			</extension>
		</simpleContent>
	</complexType>

</schema>
